.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  border-collapse: collapse;
  margin: 0 auto;	
}

table td {
	border: 1px solid  black;
}

td{
	width : 100px;
	height: 100px;
}

table  tr:first-child  td{
	border-top: 0;
}

table tr  td:first-child{
	border-left: 0;
}
table  tr td:last-child{
	border-right: 0;
}
table  tr:last-child td{
	border-bottom: 0;
}

